*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 16px;
    font-style: normal;
    
  }

div.divprincipal{
    display: flex;
}
div.image{
    background-position: center;
}
div.image img{
    width: 400px;
    height: 600px;
    
}
div.form{
    background-color: rgba(245, 245, 245, 0.945)
    ;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
div.divprincipal div.form ul {
  list-style-type: none;
  display: flex;
  padding-top: 20px;
  padding-right:25px ;
  padding-bottom: 40px;
  
}
div.divprincipal div.form  div.menu ul{
    padding-top: 10px;
    
  }
div.divprincipal div.form ul li a{
    padding-left: 30px;
  }

div.divprincipal div.form ul li.inscrip {
   padding-left: 30px;
   background-color: blue;
   width: 200px;
   height: 50px;
   
}
div.divprincipal div.form ul li.inscrip a{
    text-decoration: none;
    color:whitesmoke;
    
 }
div.divprincipal div.form ul li.conec {
    padding-left: 30px;
    background-color: rgba(15, 13, 13, 0.164);
    width: 200px;
   height: 50px;
 
 }
 div.divprincipal div.form ul li.conec a{
    text-decoration: none;
    color: black;
 
 }
 div.divprincipal div.form form{
    padding-left: 45px;
 }
 div.divprincipal div.form form div.input1 {
    display: flex;
    background-color:  rgba(245, 245, 245, 0.945);
 }
 div.divprincipal div.form form div.input1 div.icon1{
    background-color:  rgba(15, 13, 13, 0.164);
    width: 30px;
    height: 41px;
    text-align: center;
    padding-top: 10px;
    border-radius: 0.5p;
 }
 div.divprincipal div.form form input{
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 395px;
    border-color: rgba(245, 245, 245, 0.945);
 }
 div.divprincipal div.form div.inscrip2 {
    text-align: center;
    padding-left: 30px;
    background-color: blue;
    border-radius: 20rem;
    width: 420px;
    height: 50px;
    margin-left: 30px;
}

div.divprincipal div.form div.inscrip2 a{
    text-decoration: none;
    color:whitesmoke;
}

 

